
body
{
	margin: 0 auto;
	width: 600px;	
	border: 1px solid black;
	height: 600px;
}

div
{
	border: 1px solid black; 
	margin: 50px;
	padding: 50px;
}

.fyrsta
{
	position: absolute;
	top: 50px;
	left: 50px; 
	background-color: red; 
}
