
div
{
    margin: 30px 30px 80px 30px;
    padding: 30px 15px;
}

.wrapper
{
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.left
{
    background-color: green;
    float: left;
    width: 40%;
    text-align: justify;
    
}

.right
{
    background-color: red;
    float: left;
    width: 40%;
    text-align: justify;
}