


h3   {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em
}

p   {
    text-indent: 16px;
    font-style: italic;
    font-size: 1em;
    line-height: 2em
}




