body {
  background-image: url(cnc-lathing.jpg.jpg) ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  background-size: 100% 100% ;
  margin: auto;
  overflow: hidden;
  width: 960px;
  
}

h1
{
    font-size: 2em;
}

p
{
    font-size: 1.3em;
}
li{
    display: inline;
}
ul li 
{
    font-size: 2em;
    color: white;
    padding: 5px;
}

a
{
    color: lightskyblue;
    text-decoration: none;
    
}

a:hover
{
    color: yellow;
    text-decoration: underline;
}

.header
{

    width: 100%;
    background-color: rgb(94, 94, 237);
    color: white;
    text-align: center;
    padding: 5px;
}

.nav
{

    width: 960px ;
    background-color: rgb(177, 41, 41);
    position: fixed;
    overflow-y: scroll;
    scrollbar-width: none;
    clear: both;

}

.middle  
{
 
    text-align: justify;
    color: white;
    background-color: black;
    opacity: 80%;
    width: fit-content;
    margin-right: 25px;
    padding: 15px;
    position: fixed;  
    top: 220px;
    overflow-y: scroll;
    scrollbar-width: none;
    bottom: 25px;
}

.wrapper
{
    max-height: 100%;
}







