


body
{
    margin: 0 25px;
    width:960px;
    background-color: none;
}

h1
{
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
}

.header
{
    border: 2px solid black;
    margin: 25px auto;
    padding: 25px 5px;
}

.footer
{
    border: 1px solid black;
    text-align: center;
    margin: 90px auto;
}

img
{
    float:right;
}













